#
# Copyright (C) 2023 The LineageOS Project
#
# SPDX-License-Identifier: Apache-2.0
#

# CODEC drivers
CONFIG_SND_SOC_MAX98927=y

# Frame buffer hardware drivers
CONFIG_ENABLE_PM_TP_SUSPEND_RESUME=y

# Input Device Drivers
CONFIG_TOUCHSCREEN_GT917D_D1S=y
CONFIG_TOUCHSCREEN_FT5446_D1S=y
CONFIG_FINGERPRINT_FPC1020=y
CONFIG_FINGERPRINT_GOODIX_GF3208=y

# Platform
CONFIG_MACH_XIAOMI_DAISY=y

# Pseudo filesystems
CONFIG_PROC_CMDLINE_APPEND_ANDROID_FORCE_NORMAL_BOOT=y
