#
# Copyright (C) 2023 The LineageOS Project
#
# SPDX-License-Identifier: Apache-2.0
#

# Certificates for signature checking
CONFIG_SYSTEM_TRUSTED_KEYS="verity.x509.pem"

# CODEC drivers
CONFIG_SND_SOC_MAX98927=y

# Input Device Drivers
CONFIG_TOUCHSCREEN_FT5435_MI=y
CONFIG_TOUCHSCREEN_FT8716_D2=y
CONFIG_TOUCHSCREEN_TD4310_D2=y
CONFIG_FINGERPRINT_FPC1020=y
CONFIG_FINGERPRINT_GOODIX_GF3208=y

# Platform
CONFIG_MACH_XIAOMI_TISSOT=y

# Pseudo filesystems
CONFIG_PROC_CMDLINE_APPEND_ANDROID_FORCE_NORMAL_BOOT=y

# SCSI Transports
CONFIG_BLK_DEV_MD=y
CONFIG_MD_LINEAR=y
# CONFIG_DM_DEFAULT_KEY is not set
CONFIG_DM_ANDROID_VERITY=y
