#
# Copyright (C) 2023 The LineageOS Project
#
# SPDX-License-Identifier: Apache-2.0
#

# CODEC drivers
CONFIG_SND_SOC_TAS2557=y
CONFIG_TAS2557_REGMAP=y
CONFIG_TAS2557_CODEC=y
CONFIG_TAS2557_MISC=y

# Frame buffer hardware drivers
CONFIG_ENABLE_PM_TP_SUSPEND_RESUME=y

# Input Device Drivers
CONFIG_TOUCHSCREEN_NT36672_E7=y
CONFIG_TOUCHSCREEN_TD4310_E7=y
CONFIG_TOUCHSCREEN_TD4310_LANSI_E7=y
CONFIG_TOUCHSCREEN_VITURALSAR_E7=y
CONFIG_FINGERPRINT_FPC1020=y
CONFIG_FINGERPRINT_GOODIX_GF3208=y

# Platform
CONFIG_MACH_XIAOMI_VINCE=y
