#
# Copyright (C) 2023 The LineageOS Project
#
# SPDX-License-Identifier: Apache-2.0
#

# CODEC drivers
CONFIG_SND_SOC_TAS2557=y
CONFIG_TAS2557_REGMAP=y
CONFIG_TAS2557_CODEC=y
CONFIG_TAS2557_MISC=y

# Input Device Drivers
CONFIG_FINGERPRINT_FPC1020=y
CONFIG_FINGERPRINT_GOODIX_GF3208=y

# Platform
CONFIG_MACH_XIAOMI_VINCE=y
