#
# Copyright (C) 2023 The LineageOS Project
#
# SPDX-License-Identifier: Apache-2.0
#

# General setup
CONFIG_LOCALVERSION="-lineageos"

# Input Device Drivers
# CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_v26 is not set
# CONFIG_TOUCHSCREEN_SYNAPTICS_DSX is not set

# Pseudo filesystems
CONFIG_PSTORE=y
CONFIG_PSTORE_CONSOLE=y
CONFIG_PSTORE_PMSG=y
CONFIG_PSTORE_RAM=y

# Qualcomm Atheros Prima WLAN module
CONFIG_PRONTO_WLAN=y

# Qualcomm Technologies, Inc. MSM Camera And Video
CONFIG_MSMB_CAMERA_LEGACY=y
