#
# Copyright (C) 2023 The LineageOS Project
#
# SPDX-License-Identifier: Apache-2.0
#

# General setup
CONFIG_LOCALVERSION="-lineageos"

# Android
# CONFIG_ANDROID_LOW_MEMORY_KILLER is not set

# CPU Frequency scaling
CONFIG_CPU_FREQ_STAT=y

# CPU/Task time and stats accounting
CONFIG_PSI=y

# IO Schedulers
CONFIG_CFQ_GROUP_IOSCHED=y

# Input Device Drivers
# CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_v26 is not set
# CONFIG_TOUCHSCREEN_SYNAPTICS_DSX is not set

# Pseudo filesystems
CONFIG_PSTORE=y
CONFIG_PSTORE_CONSOLE=y
CONFIG_PSTORE_PMSG=y
CONFIG_PSTORE_RAM=y

# Qualcomm Atheros Prima WLAN module
CONFIG_PRONTO_WLAN=y

# Qualcomm Technologies, Inc. MSM Camera And Video
CONFIG_MSMB_CAMERA_LEGACY=y

# RCU Subsystem
CONFIG_BLK_CGROUP=y
