#
# Copyright (C) 2023 The LineageOS Project
#
# SPDX-License-Identifier: Apache-2.0
#

# General setup
CONFIG_LOCALVERSION="-lineageos"

# LED driver for blink(1) USB RGB LED is under Special HID drivers (HID_THINGM)
CONFIG_LEDS_AW2013=y
CONFIG_LEDS_AW2023=y

# Qualcomm Technologies, Inc. MSM Camera And Video
CONFIG_MSMB_CAMERA_LEGACY=y
